* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin-top: 5em;
}

.section {
  border: 2px solid black;
  padding: 1em;
  margin: 1em 0;
  display: flex;
  flex-wrap: wrap;
}

.section > h2.title {
  text-align: center;
  width: 100%;
}

.data-display-box {
  border: 1px solid #777;
  padding: .5em;
  margin: .5em;
  min-width: 350px;
  flex: 1 1 31%;
}

.text-io {
  font-family: monospace;
  width: 100%;
  min-height: 8em;
}

.zoom-image {
  image-rendering: pixelated;
  transform: scale(16, 16);
  -ms-transform: scale(16, 16);
  -webkit-transform: scale(16, 16);
  transform-origin: left;
}